*{
    margin: 0;
    padding: 0;
}

#box {

    left: 0;
    top: 100px;
    float: left;
    margin-left: 30px;
    position: fixed;
    z-index: 999;
}

#box .ant-card-bordered {
    border-radius:30px !important;
    box-shadow: 5px 5px 3px #7e7c80 !important;
}

#showPic{
    position: relative;
}
#box h2 {
    padding:8px 4px ;
    font-size: 16px;
    color: #666666;
}
#box p{
    padding:8px 4px ;
    font-size:12px;
    color: #a9a9a9;
    line-height: 20px;
}
.ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-submenu:hover, .ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu-active, .ant-menu-horizontal > .ant-menu-item-open, .ant-menu-horizontal > .ant-menu-submenu-open, .ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-submenu-selected {border-bottom: 0px}
.ant-menu-horizontal > .ant-menu-item, .ant-menu-horizontal > .ant-menu-submenu {
    border-bottom: 0px
}