.coalSOR .ant-table-tbody > tr > td{
    text-align: center;
}
.coalSOR .ant-tabs-bar {
    margin: 0;
    border-bottom: 1px solid black;
}
.coalSOR .ant-table-tbody > tr > td{
    border-bottom:1px solid black;
    padding: 10px 5px;
}

.coalSOR .ant-table-bordered .ant-table-thead > tr > th{
    border-right:1px solid black
}
.coalSOR .ant-table-bordered .ant-table-tbody > tr > td{
    border-right:1px solid black
}

.coalSOR .ant-table-thead > tr > th{
    border-bottom:1px solid black
}
.coalSOR .ant-table-tbody > tr > td{
    border-bottom:1px solid black
}

.coalSOR .ant-table-bordered .ant-table-thead > tr:not(:last-child) > th{
    border-bottom:1px solid black
}